{{#each this}}
  <li id={{id}} class='container__card'>
      <div class='container__image-wrapper'>
        <img
          class='container__image'
          {{#if poster_path}}
          src='{{getPosterUrl poster_path}}'
          {{else}}
          src='https://papik.pro/uploads/posts/2021-12/thumbs/1639228118_1-papik-pro-p-kino-klipart-1.jpg'
          {{/if}}
          alt={{title}}
          loading='lazy'
        />
      </div>
      <div class='container__information'>
        <p class='container__title'>{{title}}</p>
          {{#if genre_ids}}
          <p class='container__text'>{{getShortGenres genre_ids}}
          {{else}}
          <p class='container__text'>Жанр невідомий
          {{/if}}
            |
            {{getYear release_date}}</p>
      </div>
  </li>
{{/each}}